body{
    text-align: center;
    color: white;
}

h1,h2,h3{
    margin: 30px 0px 10px 0px;
    margin-bottom: 10px;
    background: #1d161777;
    border-radius: 5px;
    padding: 5px 10px;
    }


#main{
    background-image:url("Images/jpg.jpg") ;
    height: 400px;
    margin: 0px auto;
    border-radius: 20px;
    padding: 5px 300px;
}


img{
    width: 150px;
    height: 150px;
    border-radius: 50%;

} 

.item{   
    margin-top: 30px;
    display: flex;
    justify-content: space-around;    
}
