body{
    text-align: center;
    color: black;
}

h1,h2{
    margin: 30px 0px 10px 0px;
    background: #1d161777;
    border-radius: 10px;
    padding: 5px 30px;
    }



#main{
    color:white;
    background-image:url("Images/jpg.jpg") ;
    height: 400px;
    margin: 0px auto;
    border-radius: 20px;
    padding: 5px 300px;
}


img{
    width: 150px;
    height: 150px;
    border-radius: 50%;

} 

.item{

    margin-top: 30px;
    display: flex;
    justify-content: space-around;    
}

.container{
    color:white;
    margin-top: 30px;
    background-color: #463F3A;
    padding:0px 2px 30px 2px;
    
}
