body{
    margin: 0;
    text-align: center;
    background-image:url("Images/Download\ Wushu\ Free\ Vector\ for\ free.jpg") ;
    background-size:fill;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;

} 

.item{   
    display: flex;
    justify-content: space-around;    
}
