body{
    margin: 0;
    text-align: center;
    background-size:2450px;
}

#main{
    background-image:url("Images/jpg.jpg") ;
    width: 1000px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;

} 

.item{   
    margin-top: 30px;
    display: flex;
    justify-content: space-around;    
}
